/* Contenedor para centrar la tarjeta */
.card-container-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 20px auto; /* Centramos el contenedor horizontalmente */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card-img-cart {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.card-body {
  padding: 20px;
  background-color: #f8f9fa;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-name-cart {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-text-cart {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 10px;
}

.card-price-cart {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
}

.card-stock-cart {
  font-size: 0.9rem;
  color: #28a745;
  margin-bottom: 15px;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 15px;
  transition: background-color 0.2s ease-in-out;
}

.btn-danger:hover {
  background-color: #c82333;
}
